</div>
<div class="frameholder">
    <iframe src="articles/overview.htm" frameborder="0" id="article" name="article"></iframe>
</div>
</div>
<script>
    $('.toc li').each(function () {
        $(this).prepend('<i></i>')
        if ($(this).children('ul').length) {
            const li = $(this);
            li.addClass('folder closed');
            const toggler = li.children(`i, a`);
            toggler.click(function (e) {
                if(li.hasClass('open') && !$(this).is('a')){
                    li.removeClass('open').addClass('closed');
                    li.children('ul').first().slideUp(300);
                } else{
                    li.removeClass('closed').addClass('open');
                    li.children('ul').first().slideDown(300);
                    if(!$(this).attr("href").length || $(this).attr("href") == "#"){
                        e.preventDefault();
                    }
                }
                
            });
        }
    });
</script>
</BODY>

</HTML>