<div id="search">
    <input type="text" class="autocomplete"><ul id="searchList"></ul></div>
</div>
<div class="overlay hidden"></div>
<div class="frameholder">
    <iframe src="articles/overview.htm" frameborder="0" id="article" name="article"></iframe>
</div>
</div>
<script src="./assets/jquery-3.2.1.min.js"></script>
<script>
    $('.toc h2 a').click(function (e) {
        e.preventDefault();
        var tabLink = $(this),
            tab = $(tabLink.attr("href"));
        tabLink.addClass('active').closest('h2').siblings().children('a').removeClass('active');
        tab.show().siblings('ul, #search').hide();
        $(".autocomplete").focus();
    });
    $('.toc ul a[href]').click(function(){
            $('.toc ul a[href]').removeClass('active');
            $(this).addClass('active');
        }
    );
    $('.toc li').each(function () {
        var li = $(this);
        li.prepend('<i></i>');
        if ($(this).children('ul').length) {
            li.addClass('folder closed');
            var toggler = li.children('i, a');
            toggler.click(function (e) {
                if (li.hasClass('open') && !$(this).is('a')) {
                    li.removeClass('open').addClass('closed');
                    li.children('ul').first().slideUp(300);
                } else {
                    li.removeClass('closed').addClass('open');
                    li.children('ul').first().slideDown(300);
                    if (!$(this).attr("href") || $(this).attr("href") == "#") {
                        e.preventDefault();
                    }
                }

            });
        }
    });
    $(document).on("mouseup touchend", function (e) {
        if (!$(e.target).closest('.toc, .toc *, .toc-toggle').length) {
            $('.toc, .overlay').addClass('hidden');
        }
        else if ($(e.target).closest('.toc-toggle').length) {
            e.preventDefault();
            $('.toc').toggleClass('hidden');
            $('.overlay').toggleClass('hidden');
        }
    });
    function printFrame(e) {
        var beforePrint = function () {

            window.frames["article"].focus();
            window.frames["article"].print();
        };
        var afterPrint = function () {
        };

        if (window.matchMedia) {
            var mediaQueryList = window.matchMedia('print');
            mediaQueryList.addListener(function (mql) {
                if (mql.matches) {
                    beforePrint();
                } else {
                    afterPrint();
                }
            });
        }

        window.onbeforeprint = beforePrint();
        window.onafterprint = afterPrint();
    }

    $("#article").on('load', function () {
        var pageTitle = document.getElementById("article").contentDocument.title;
        document.title = pageTitle;
    });
    function Index(list) {
        var alphabet = "abcdefghijklmnopqrstuvwxyz".toUpperCase().split("");
        var HTMLAlphabet = $('<li id="alphabet"></li>');
        var HTMLAlphabetUL = $('<ul></ul>');
        for (var i = 0; i < alphabet.length; i++) {
            var firstOfI = $(list).children('li').toArray().filter(function (item) {
                return $(item).text().charAt(1) == alphabet[i];
            });
            firstOfI = firstOfI[0];

            $('<li class="indexLetter"><a name="' + alphabet[i] + '"></a><h3>' + alphabet[i] + '</h3></li>').insertBefore(firstOfI);
            if (firstOfI) {
                HTMLAlphabetUL.append('<li><a href="#' + alphabet[i] + '">' + alphabet[i] + '</a></li>');
            } else {
                HTMLAlphabetUL.append('<li><span>' + alphabet[i] + '</span></li>');
            }

        }
        HTMLAlphabet.append(HTMLAlphabetUL);
        $('#index').prepend(HTMLAlphabet);
    }
    Index('#index');





let indexList = document.querySelectorAll('#index li a[href]');
let pages = [...indexList];
pages = pages.filter(page => {
    return page.getAttribute("href").indexOf('#') == -1;
});
let autocompleteInput = document.querySelector(".autocomplete");

let autocompleteValue = autocompleteInput.value;

autocompleteInput.addEventListener("input", showRes);
let autoCompleteList = document.querySelector('#searchList');
let autoList = pages.map(page => '<li data-page="' + page.getAttribute("href") + '"><i></i><a target="article" href="' + page.getAttribute("href") + '">'+ page.textContent +'</a></li>');
autoCompleteList.innerHTML = autoList.toString().replace(/,/g, '');

function showRes() {
  autocompleteValue = autocompleteInput.value;
  console.log(autocompleteValue);
  let coutriesComplete = pages.filter(page => {
    return page.textContent.toUpperCase().indexOf(autocompleteValue.toUpperCase()) !== -1 || page.getAttribute("href").substring(page.getAttribute("href").lastIndexOf('articles') + 1).toUpperCase().indexOf(autocompleteValue.toUpperCase()) !== -1
  });
  autoList = coutriesComplete.map(page => '<li data-page="' + page.getAttribute("href") + '"><i></i><a target="article" href="' + page.getAttribute("href") + '">'+ page.textContent +'</a></li>');
  autoCompleteList.innerHTML = autoList.toString().replace(/,/g, '');
}



</script>
</BODY>

</HTML>