.article__header,
.article__footer {
    background: #f5f5f5;
    padding: 15px;
}

.article__content {
    padding: 15px 15px 0;
}

a {
    color: #F68D1E;
    &:visited {
        color: #ac4500;
    }
    &:hover {
        text-decoration:none;
    }
    &[data-fancybox]{
        text-decoration:none;
    }
}

span.link {
    font-weight: 700;
    color: #489BD4;
    &.orange {
        color: #F58F23;
    }
}

.center {
    text-align: center;
}

.note {
    padding: 15px 10px 15px 15px;
    border-left: 4px solid #ffff89;
    color: #000;
}

a[data-fancybox] {
    outline: none;
    img {
        transition: all .15s ease-in-out;
        position: relative;
    }
    &:hover {
        img {
            box-shadow: 0px 14px 14px -7px rgba(0, 0, 0, 0.35);
            top: 0;
        }
    }
    &:active {
        img {
            box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0), 0 0 1px 1px rgba(0, 0, 0, 0.25) inset;
            border-bottom-color: #eee;
            top: 2px;
        }
    }
    @media screen and (max-width:667px) {
        pointer-events: none;
    }
}

img {
    width: auto;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: center;
    &.icon {
        display: inline-block;
        margin: 0 5px;
        height: auto;
        vertical-align: baseline;
        &.s {
            width: 24px;
        }
        &.m {
            width: 36px;
        }
        &.l {
            width: 48px;
        }
        &.xl {
            width: 72px;
        }
        &.ref {
            width: 16px;
            margin: 0 15px 0 0;
        }
    }
    &.chart {
        display: inline-block;
        width: 100%;
    }
    &.screen {
        width: 320px;
        border-width: 1px;
        border-style: solid;
        border-color: #f0f0f0 #f0f0f0 #ccc;
        border-radius: 2px;
        box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.25);
        top: 2px;
        &.inline {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            vertical-align: middle;
            margin: 10px 3%;
            max-width: 94%;
        }
        &.auto {
            width:auto;
        }
        &.large {
            width: 640px;
        }
    }
}

.flowchart {
    margin: 0 -15px;
    text-align: center;
    background: #f9f9f9;
    ul,ol {
        list-style:none;
        margin:0;
        padding:0;
        counter-reset:counter;
        li {
            padding:10px 0;
            margin:0;
            z-index:1;
            position:relative;
            &::marker{
                font-size:2em
            }
            &:not(:first-child):before{
                counter-increment:counter;
                display:inline;
                content:counter(counter)".\00a0";
                font-size:2em;
                font-weight:700;
                color:#62638C;
                position:relative;
                z-index:2;
            }
            &:after{
                content:"";
                display:block;
                margin:20px auto 0;
                width:40px;
                height:50px;
                background-image: url(../assets/images/icons/arrow-down.png);
                background-repeat: no-repeat;
                background-position:center center;
                background-size: contain;
            }
            &:last-child:after{
                display:none;
            }
            h2 {
                font-size: 1.4em;
                display:inline;
                margin: 0;
                padding:0 0 10px;
            }
            p {
                margin:0;
            }
            .screen.inline{
                vertical-align:top;
            }
        }
    }
}

pre {
    overflow-x: auto;
    padding: 0;
    display: block;
    margin: 1em auto;
    width: calc(100vw - 70px);
    &.url {
        color: #00a;
        padding: 8px 10px;
        border-radius: 2px;
        border: 1px solid #ccc;
    }
    &.wrap {
        white-space: pre-wrap;
        width: 100%;
    }
}

.js-toggle-code {
    padding: 3px 25px 3px 0;
    position: relative;
    display: inline-block;
    text-decoration: none;
    &:after {
        content: "";
        display: block;
        position: absolute;
        right: 3px;
        top: 9px;
        width: 10px;
        height: 10px;
        border: 2px solid #454545;
        border-top: 0;
        border-left: 0;
        transform: rotate(-135deg);
    }
    &.collapsed {
        &:after {
            right: 3px;
            top: 3px;
            transform: rotate(45deg);
        }
    }
}

.js-pre.collapsed {
    display: none;
}

ul {
    padding: 0 0 0 20px;
}

table.calls {
    width: 100%;
    border-collapse: collapse;
    td {
        padding: 5px 10px;
        box-shadow: 0 0 0 1px #aaa inset;
        border-bottom: 10px solid #f5f5f5;
        background: #fff
    }
    tr:last-child td {
        border-bottom: 0;
    }
    a {
        text-decoration: none;
    }
}

.method {
    width: 80px;
    text-align: center;
    color: #fff;
    box-shadow: none !important;
    padding: 5px 10px;
    &.get {
        background: #0f6ab4;
    }
    &.post {
        background: #10a54a;
    }
    &.put {
        background: #c5862b;
    }
    &.delete {
        background: #a41e22;
    }
}

.ref-title {
    padding-top: 15px;
}

.abstract {
    color: #F68D1E;
    font-style: italic;
    text-align: right;
    padding: 15px 0;
}

p i,
li i {
    color: #799;
}


/*.screenshots {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    width: calc(100vw - 60px);
    margin: 0 auto;
    position: relative;
}*/

.video {
    width: auto;
    max-width:calc(100vw - 50px);
    max-height:100vh;
    margin: 0 auto;
    height: auto;
    display: block;
    &-wrapper {
        position: relative;
        margin: 1em auto;
        max-width:100%;
    }
    &-link {
        display:none;
    }
}

figure {
    margin: 1em auto;
    width: 820px;
    max-width: 100%;
}