//===NORMALIZE start===//
@import 'normalize';
//===NORMALIZE end===//
//===HIGHLIGHT start===//
@import 'github';
//===HIGHLIGHT end===//
//===FANCYBOX start===//
@import 'jquery.fancybox.min';
//===FANCYBOX end===//
//===MAIN start===//
html,
body {
    margin: 0;
    padding: 0;
    background: white;
}

body {
    font: 14px/18px Arial, Helvetica, Helvetica-Neue, Verdana, sans-serif;
    color: #333;
    min-width: 320px;
    display: table;
    min-height: 100vh;
    width: 100%;
}

.header,
.article,
.footer {
    display: table-row;
}

.article__wrapper {
    display: table-cell;
}

.container {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
}

.footnotes {
    display: table-row;
    ul {
        display: table-cell;
        height: 1px;
        list-style: none;
        margin: 0;
        padding: 30px 15px 15px;
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 60%;
            position: absolute;
            left: 0;
            top: 15px;
            border-top: 1px solid #454545;
        }
    }
} //===MAIN end===//
@media print {
    body {
        height: auto !important;
        min-height: 100vh;
        display: block;
    }
    .article{
        display: block;
        height:auto;
        &__header {
            display:none;
        }
    }
    .header {
        display:table;
        height:auto;
    }
    .footer {
        display:none !important;
    }
    .article__wrapper {
        display: block;
    }
    .footnotes {
        height:auto;
        display: block;
        ul {
            display: block;
        }
    }
    .header .product-logo {
        img.l {
            display: none !important;
        }
        img.s {
            display: block !important;
        }
    }
    .screen {
        max-width: 320px;
    }
    pre {
        white-space: pre-wrap;
        &.js-pre {
            display: block!important;
        }
    }
}