
//===NORMALIZE start===//
@import 'normalize';
//===NORMALIZE end===//




//===HIGHLIGHT VS start===//
@import 'github';
//===HIGHLIGHT VS end===//




//===MAIN start===//
html,body {
    margin:0;
    padding:0;
    background:white;
}
body {
    font: 14px/18px Arial, Helvetica, Helvetica-Neue, Verdana, sans-serif; 
    color:#333;
    min-width:320px;
}
.container {
    margin:0 auto;
    width: 1200px;
    max-width:100%;
}
a{
    color:#F68D1E;
}
a:visited{
    color:#ac4500;
}
span.link {
    font-weight:700;
    color:#489BD4;
}

span.link.orange {
    color:#F58F23;
}

.center {
    text-align:center;
}

.note {
    padding: 15px 10px 15px 15px;
    border-left:4px solid #ffff89;
    color:#000;
}

img {
    width:auto;
    max-width: 100%;
    height:auto;
    display:block;
    margin: 0 auto;
    text-align:center;
}
img.chart {
    display:inline-block;
    width:100%;
}
img.screen {
    width:320px;
}

img.icon {
    display:inline-block;
    margin:0 5px;
    height:auto;
    vertical-align:baseline;
}

img.icon.s {    
    width:24px;
}
img.icon.m {    
    width:36px;
}
img.icon.l {    
    width:48px;
}

img.icon.ref {
    width:16px;
    margin:0 15px 0 0;
}

.flowchart {
    margin:0 -15px;
    text-align:center;
    background:#dadada;
}

pre {
    overflow-x:auto;
    padding:0;
}
.js-toggle-code {
    padding: 3px 25px 3px 0;
    position:relative;
    display:inline-block;
    text-decoration:none;
}
.js-toggle-code:after {    
    content:"";
    display:block;
    position:absolute;
    right: 3px;
    top: 9px;
    width: 10px;
    height: 10px;
    border:2px solid #454545;
    border-top:0;
    border-left:0;
    transform:rotate(-135deg);
}
.js-toggle-code.collapsed:after {
    right: 3px;
    top: 3px;
    transform:rotate(45deg);
}
.js-pre.collapsed{
    display:none;
}
pre.url {
    color:#00a;
    padding:8px 10px;
    border-radius:2px;
    border:1px solid #ccc;
}

ul {
    padding:0 0 0 20px;
}

table.calls {
    width:100%;
    border-collapse: collapse;
}
table.calls td {
    padding: 5px 10px;
    box-shadow: 0 0 0 1px #aaa inset;
    border-bottom:10px solid #f5f5f5;
    background:#fff
}
table.calls tr:last-child td {
    border-bottom:0;
}
table.calls a {
    text-decoration:none;
}
.method {
    width:80px;
    text-align:center;
    color:#fff;
    box-shadow:none !important;
    padding: 5px 10px;
}
.method.get {
    background:#0f6ab4;
}
.method.post {
    background:#10a54a;
}
.method.put {
    background:#c5862b;
}
.method.delete {
    background:#a41e22;
}
.ref-title {
    padding-top:15px;
}
.header {
    padding: 15px;
    border-bottom:1px solid #f0f0f0;
}
.header h1 {
    display:table;
    width:100%;
    font-size:0;
    line-height:0;
    margin:0;
    padding:0;
}
.header h1 .resource-title {
    font-size: .7em;
}
.header .product-logo,
.header .article__title {
    display:table-cell;
    vertical-align:middle;
}
.header .product-logo{  
    width: 150px;
    padding: 0 15px 0 0;
}
.header .product-logo img {
    display:block;
    margin:0 auto;
    width:100%;
    max-width:100%;
}
.header .product-logo img.s {
    display:none;
}
.header .article__title{
    font-size:28px;
    font-weight:300;
    padding: 0 0 0 15px;
    line-height:1em;
}

.article__header, .article__footer {
    background: #f5f5f5;
    padding:15px;
}
.article__content {
    padding: 15px 15px 0;
}
.footer {
    margin:75px 0 0;
    padding: 15px;
    border-top:1px solid #f0f0f0;
}

.footer .copy {
    display:block;
    text-align:center;
    font-style:italic;
    color:#777;
}

@media screen and (max-width: 667px){
    
.header .article__title{
    font-size:24px;
}
    .header .product-logo {
        width: 24px;
        padding:0;
    }
    .header .product-logo img.l {
        display:none;
    }
    .header .product-logo img.s {
        display:block;
    }
}

//===MAIN end===//